{% extends "layout.html" %}
{% block body %}
		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="{{url_for('index')}}">MYP 1080<sup>o</sup></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="{{url_for('index')}}">Home</a></li>
				<li><a href="{{url_for('Humanities')}}">Individuals and Societies</a></li>
				<li><a href="{{url_for('Sciences')}}">Sciences</a></li>
				<li><a href="{{url_for('Math')}}">Math</a></li>
				<li><a href="{{url_for('English')}}">English</a></li>
				<li><a href="{{url_for('PersonalProject')}}">Personal Project</a></li>
				<li><a href="{{url_for('EPortfolio')}}">E-Portfolio</a></li>
				<li><a href="{{url_for('IDU')}}">IDU</a></li>
				<li><a href="{{url_for('chat_index')}}">Chats</a></li>
			</ul>
		</nav>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>MYP Subjects</p>
						<h2>English</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
								<h2></h2>
							</header>
<h3>Table of Contents</h3>
<ol style="color: #000;">
	<a href="#intro"><li>Introduction</li></a>
	<a href="#syllabus"><li>Syllabus</li></a>
	<a href="#content"><li>Guiding Notes and Points</a></li>
	<a href="#downloads"><li>Downloadable Files</li></a>
<br><br>

<h3 id="intro" style="text-align: center;">INTRODUCTION</h3>
<p><ul style="color: #000;">
<li>MYP English is very similar to IGCSE English.</li> 
<li>Students have tasks wherein they have to compose and structure their own essays and analyse literature. </li>
<br>
<h3 style="color: #000; text-align: center;" id="syllabus">SYLLABUS</h3>
<p>This is the syllabus you will be following for your English E-assessment --></p>
<table class="syllabus-table" style="border: 1px solid #000">
	<thead>
		<tr>
			<th style='width: 40%; border: 1px solid #000; text-align: center;'>Topics</th>
			<th style='width: 40%; border: 1px solid #000; text-align: center;'>Subtopics</th>
		</tr>
		<tr>
			<td style="border: 1px solid #000; text-align: center;">Forms of literature</td>
			<td style="border: 1px solid #000;">
				<ul>
		            <li>Poetry</li>
				    <li>Prose (short stories and novels from a variety of genres)</li>
					<li>Mythology</li>
					<li>Drama </li>
					<li>Multimedia texts, including screenplays, film, television programmes, and drama series</li>
					<li>Biography and autobiography</li>
					<li>Essays, letters, narrative non-fiction and informational text  </li>
					<li>Speeches, oral traditions</li>
					<li>Graphic novels </li>
				</ul>
			</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000; text-align: center;">Ideas and issues typically explored</td>
			<td style="border: 1px solid #000;">
				<ul>
					<li>Identity, heritage, culture, diversity</li>
					<li> Communities, globalization, migration, displacement</li>
					<li>Social history, civilizations, journeys</li>
					<li>Media and mass communication</li>
					<li> Childhood, adolescence, youth, rebellion, innocence and experience </li>
					<li>Families, friendships, relationships</li>
					<li>Systems, power and protest, justice, peace and conflict, freedom and independence </li>
					<li>Health and well-being, environment, lifestyle</li>
					<li> Social roles, norms and expectations, gender, inclusion, minorities, class</li>
					<li>Utopias, dystopias, survival</li>
					<li> Religion, faith, values, ritual, spirituality, taboos</li>
					<li> Allegiance, betrayal, revenge, atonement, forgiveness</li>
				</ul>
			</td>
		</tr>
	</thead>
	</table>
</ul></p>
<p><i>NOTE --> All literature courses must provide vocabulary, syntax, depth and levels of meaning and styles of language of appropriate sophistication.</i></p>
<br>
<h3 id="content">GUIDING NOTES AND POINTS</h3>
<P>Since the entire English Language and Literature exam consists of only three questions based on unseen information, with the first focusing on analyzing of text, the notes are limited. Thus, the following page is a sort of 'cheat sheet' to understanding the different types of texts and how to analyze them. </P>
<ol>
	<li><h4>Analysis<h4></li>
	<ul style="list-style-type: square; ">
		<li><b>Intonation</b> - The use of changing vocal pitch (rising and falling) to convey grammatical information or personal attitude.</li>
		<ul>
			<li>Pitch (low to high)</li>
			<li>Volume    (soft to loud)</li>
			<li>Speed      (slow to fast)</li>
			<li>Accent     (yes or no)</li>
			<li>Intensity  (relaxed or tense)</li>
			<li>Timbre    (breathy, shrill, nasal)</li>
			<li>Pausing   (long and short)</li>
		</ul>
		<h4>EXAMPLES</h4><p>{word emphasized on sentence is underlined} --></p>
		<ul>
		<li>The prime minister <i><b><u>wasn't</u></b></i> elected [as opposed to expectations that he would be]</li>
		<li>The <i><b><u>prime minister</u></b></i> wasn't elected [as opposed to someone else]</li>
		<li>The prime minister wasn't <i><b><u>elected</u></b></i> [as opposed to some other progress (e.g. appointed)]</li>
	</ul>
	<br>
		<li type="ii"><u>Effect of pitch on tone</u></li>
		<ul>
			<li><strong>Falling Pitch</strong> - Certainty, and certainty about polarity (opposite or contradictory opinions)</li>
			<li><strong>Rising Pitch</strong> - Uncertainty</li> 
			<li><strong>Lower Pitch</strong> - Expresses an intensified meaning, implying additional commitment</li>
			<li><i><b>Intonation is shown through punctuation in written form. </b></i></li>
		</ul>
		<br>
		<li><b>Style</b> - A way in which something is written, as opposed to the meaning of what is written. Style influences the impression of the information being presented. Style includes diction and tone. </li>
		<ul>
			<li><i>Diction</i> - Choice of words (Formal/Casual/Slang) </li>
			<li><i>Tone</i> - Attitude of writing</li>
		</ul>
		<br>
		<li><u>Examples of Diction</u></li>
		<ul>
			<li>Let's go get some dinner (casual)</li>
			<li>It is vital to understand the text one reads (formal)</li>
			<li>Computers are a pain in the neck (slang)</li>
			<li>The Mona Lisa looks weird from up close (casual)</li>
			<li>Pickett's charge of the Battle of Gettysburg was surely an awe-inspiring sight (formal)</li>
		</ul>
		<br>
		<li><b>Connotation</b> - An idea or feeling which a word invokes for a person in addition to its literal or primary meaning.</li>
		<br>
		<h4>EXAMPLES</h4><p>{Here the word which makes the sentence the most negative is used.} --></p>
		<ul>
		<li>The leader was his nation's most (<i><b><u>notorious</u></b></i>/well-known/famous) advocate.</li>
		<li>Immigrants (<i><u><b>thronged</b></u></i>, flocked, swarmed) to large cities.</li>
		<li>A (<i><u><b>trim</b></u></i>, skinny, slender) woman entered the room. </li>
	</ul>
</ul>
<li><h4>Four Main Writing Styles</h4></li>
<ol style="list-style-type: upper-roman;">
	<li><p><b><u><i>Expository</i></u></b> - Trying to explain a concept; simply imparting knowledge/information to a wider audience. Does not include author's opinions, focuses on facts, statistics and evidence (e.g. textbooks, how-to articles, news stories, business articles, scientific articles).</p>
	<p><i>When swaddling a baby, one must first fold the blanket into a triangle. Lay the baby in the center of the long side of the triangle with his or her shoulders along the edge of the blanket. Place the baby's left arm next to the body, and fold the left side of the blanket across the baby. </i></p></li>
<br>
	<li><p><b><u><i>Descriptive</i></u></b> - Painting a picture in words of a person, place or thing for the audience. Metaphors and other literary devices can be used to describe the author's impressions via their five senses. No persuasion, just description (e.g. poetry, journal, fiction works). </p>
	<p><i>Walking down the moon-lit path, I could hear the crunch of the twigs and branches under my feet as the smell of rain lingered in the air. The darkness enveloped me, making it difficult to see more than a few feet in front or behind me. But I listened for the sound of the stream.</i></p> </li>
<br>
	<li><p><i><b><u>Persuasive</u></b></i> - Trying to convince the audience of a position or belief. It contains the author's opinions and biases as well as their justifications and reasons as forms of evidence (e.g. reviews, complaint letters, advertisements, letters of recommendation). Use the following: 
	<ul>
		<li>Ethos - Credibility </li>
		<li>Logos - Logic of argument</li>
		<li>Pathos - Emotional appeal to reader</li>
	</ul></p>

	<p><i>At the start of every new year, many people make the goal to lose weight and get in shape. They quickly turn to the latest and greatest diet crazes to help them. Unfortunately, many fail to achieve the results they want. According to a survey conducted by the Guardian in 2017, approximately 78% of the people in the UK who decided to loose weight as a new years resolution quit after 3 weeks of dieting. With the number of people looking to loose weight, I believe that people should trade fad diets for daily exercise, reduced portions, and increased water intake. </i></p></li>
<br>
	<li><p><b><u><i>Narrative</i></u></b> - For longer pieces of writing, impart information while constructing and communicating a story, complete with characters, conflict, and setting (e.g. novels, short stories, anecdotes).  </p>
	<p><i>As I cooked bacon and eggs over the stove, fog gathered along the window. It was a cold winter morning - one of those mornings when you decide to stay inside. I called to Roger, "Breakfast is ready! Come and get it while it's hot!" With that, I heard some rummaging upstairs.    </i></p></li>
</ol>
<br>

<li><h4>Body Language</h4></li>
<ul style="list-style-type:upper-roman;">
	<li>Used to add depth to dialogue.</li>
	<li>Shows how character's emotions affect actions.</li>
	<li>Use in moderation</li>
</ul>
<style type="text/css">
	#body_language tr:nth-child(odd)
	{
		background-color: #98FB98
	}

	#Photography tr:nth-child(odd)
	{
		background-color: #98FB98
	}

	#devices tr:nth-child(odd)
	{
		background-color: #98FB98
	}

</style>
<table style="width: 100%; max-width: 100%" id="body_language">
	<thead>
		<tr>
			<th style="border: 1px solid #000; width: 15%;">Emotion</th>
			<th style="border: 1px solid #000;">Body Language</th>
		</tr>
		<tr>
			<td style="border: 1px solid #000; width: 15%;">Anticipation</td>
			<td style="border: 1px solid #000;">Rub hands together; lick lips; unable to stand still; grin</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;width: 15%;">Awe</td>
			<td style="border: 1px solid #000;">Slack jawed; unable to move; fixed gaze</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Amusement</td>
			<td style="border: 1px solid #000;">hrow head back; slap thigh; clap hands; shake with laughter; lopsided smile; smirk; tilt head</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Anger/Agression</td>
			<td style="border: 1px solid #000;">Shake fist; point finger; flushed face; throbbing veins; jutting chin; clenched fists and jaw; lower eyebrows; squinted eyes; wide stance; tight lipped</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Annoyance</td>
			<td style="border: 1px solid #000;">Lips pressed together; narrow eyes; roll eyes; exasperated sighs</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Anxiety</td>
			<td style="border: 1px solid #000;">Fidget; chew on a pencil; bite lip; swallow constantly; quickened breathing; darting eyes; sweat; clammy palms; pace; stutter; play with hair</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Attentiveness</td>
			<td style="border: 1px solid #000;">Furrowed brow; lean forward; sit up; take notes; mimic body language of other person</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Boredom</td>
			<td style="border: 1px solid #000;">Yawn; avoid eye contact; tap feet; twirl pen; doodle; fidget; slouch</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Confidence</td>
			<td style="border: 1px solid #000;">Lift head; push chest out; stand tall; firm and precise movement</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Contempt</td>
			<td style="border: 1px solid #000;">TLift chin; purse lips; sneer; stretch; turn away; dismissive hand waving</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Cynical</td>
			<td style="border: 1px solid #000;">Twist lips; half smile; shake head; slight frown; roll eyes</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Deception</td>
			<td style="border: 1px solid #000;">Look down; scratch mouth/ear/neck; shuffle and kick feet involuntarily; sudden change in demeanor; hesitation in speech; shifty eye contact; long blink</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Defensive</td>
			<td style="border: 1px solid #000;">Cross arms/legs; hands up; anything in front of body; hands in pockets</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Desire</td>
			<td style="border: 1px solid #000;">Flirtatious behavior; wink; lashes; glance over shoulder; make eye contact; touch hair or clothing; straighten up; dilated pupils; arch; stretch; crossing and uncrossing of legs (woman)</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Disbelief</td>
			<td style="border: 1px solid #000;">Wide eyed; narrow eyed; twist mouth; crinkle nose; creased brows</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Disgust</td>
			<td style="border: 1px solid #000;">Crinkle nose; curled lip; flinch; turn away; cover nose; gag; squint eyes shut; cold shoulder</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Displeasure</td>
			<td style="border: 1px solid #000;">Fake smile; frown; crossed arms</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Embarrassment</td>
			<td style="border: 1px solid #000;">Blush; stammer; cover face; bow head; trouble maintaining eye contact; look down; blink back tears</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Fear</td>
			<td style="border: 1px solid #000;">Hunch shoulders; shrink back; mouth open; widen eyes; shake; tremble; freeze</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Frustration</td>
			<td style="border: 1px solid #000;">Shake head; aggressively run hands through hair</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Grief</td>
			<td style="border: 1px solid #000;">Face contorts; slumps; cover face; stare; shake with sobs; tremble; turn away</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Happiness</td>
			<td style="border: 1px solid #000;">Smile; laugh; hum; swing arms; spin loosely; dance; jump; giggle</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Jealousy</td>
			<td style="border: 1px solid #000;">Tight lips; sour expression; narrow eyes; crossed arms</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Passion</td>
			<td style="border: 1px solid #000;">Lean forward; hot; wild eyes; raised eyebrows; feet pointed inwards</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Playfulness</td>
			<td style="border: 1px solid #000;">Wink; waggle eyebrows; nudge; smile; tickle</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Pleasure</td>
			<td style="border: 1px solid #000;">Tilt head back; part lips slightly; eyes closed; languorous movements; stretch; arch neck or back; flush; quick breath</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Possessiveness</td>
			<td style="border: 1px solid #000;">Place hand on/around someone's shoulder/neck/waist; place hands on wall near them; stand in personal space; position body towards them; unblinking focused eye contact; stare others down; run hand on cheek</td>
		</tr>
	</thead>
</table>
</h4>
</h4>
</li>
<li><h4>Character Analysis</h4></li>
<ul style="list-style-type: square;">
	<li><p><b>When doing a character analysis, keep these things in mind:</b></p>
	<ol style="list-style-type: upper-roman;">
		<li>How does the author describe the character? </li>
		<li>How do actions of your character move the plot forward?</li>
		<li>What struggles does your character encounter? </li>
		<li>What characteristics do they show?</li>
		<li>Introduction should include background info, topic of analysis, and main idea. </li>
		<li>Make a brief outline of the character first, then support with details.</li>
	</ol>
<br>
	<p><b>Also remember: </b></p>
	<ol style="list-style-type: upper-roman;">
		<li>Physical features/appearance </li>
		<li>Discuss background of character</li>
		<li>Character's use of language</li>
		<li>Personality of character</li>
		<li>Relationships of character </li>
		<li>How character changes and grows during the course of the work.  </li>
	</ol>
<br>
	<p>For a better quality character analysis, you can use the <b>PIE</b> method, which is --></p>
	<ul style="list-style-type: none;">
		<li><b>P</b>oint - State your point</li>
		<li><b>I</b>llustrate - Give evidence/quotes for point made </li>
		<li><b>E</b>xplain - Explain the point made and the evidence/quotes you gave</li>
	</ul>
	<p>Depending on what your character analysis is based on, you can choose different questions from the above mentioned list to add support and depth to your character analysis. Discussion of growth of a character or exploring the reasons as to why a character is a certain way really helps instead of a superficial analysis of how teh character is depicted</p>
</li>

<br>
<li><u>Types of Characters</u></li>
<ul>
	<li>Protagonist - The main character around whom the plot revolves</li>
	<ul style="list-style-type: none;">
		<li>The protagonist can be --></li>
		<ul style="list-style: lower-alpha;">
			<li> the Anti-hero - graceless, inept and actually dishonest </li>
			<li>the Tragic hero - the guy whose bad end is a result from the flaws within himself </li>
			<li>the Romantic hero - gets the girls even when he doesn't want to keep them </li>
			<li>the Modern hero - average guy in extraordinary circumstances and rises to the challenge</li>
			<li>the Hemingway hero - been in a war, drinks to much, gets girls pregnant, guys like him </li>
		</ul>
	</ul>
	<li>Antagonist - The person who the protagonist is against, could be a villain, force of nature, circumstance etc. </li>

	<li>Major - Main, dominating characters </li>

	<li>Minor - Help tell the major character's tale through interaction. Usually static</li>

	<li>Dynamic - Changing </li>

	<li>Static - Unchanging </li>

	<li>Stereotypical - They are what they are 'seen' as</li>

	<li>Foils - Contrast with major character. Can be opposite or similar </li>

	<li>Round (three-dimensional) - More than one facet to their personality </li>

	<li>Flat (one-dimensional) - Character viewed through only one side</li>
</ul>
</ul>

<br>
<li><h4>Visual Analysis - Direction and Photography </h4></li>
<table style="width: 100%; max-width: 100%" id="Photography">
	<thead>
		<tr>
			<th style="border: 1px solid #000; width: 15%;">Angle</th>
			<th style="border: 1px solid #000;">See Framing</th>
		</tr>
		<tr>
			<td style="border: 1px solid #000; width: 15%;">Body Language & Gaze</td>
			<td style="border: 1px solid #000;">Facial expressions, gestures, stance/position - can convey attitude, direction of subject's eyes.</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;width: 15%;">Composition</td>
			<td style="border: 1px solid #000;">What is included in the video is deliberately placed - all inclusions and omissions.</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Color, Hue & Tone</td>
			<td style="border: 1px solid #000;">In black and white, examine the use of contrast, light and dark. Colors are used to signify feelings and evoke a response.</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Framing</td>
			<td style="border: 1px solid #000;">Camera shots and angles relevant to film give importance.</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Orientation, Point of View</td>
			<td style="border: 1px solid #000;">Related to framing and camera angle - is the person talking positioned above (looking down), below or at eye level with the camera?</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Salience</td>
			<td style="border: 1px solid #000;">The part your eyes are first drawn to in the image/frame of video. Color, image and layout determine salient images.</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Symbolism</td>
			<td style="border: 1px solid #000;">Use of image to represent complex ideas.</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Vectors</td>
			<td style="border: 1px solid #000;">The line that our eyes take when looking at a visual. Composers deliberately direct our viewing path through vectors.</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Rule of Thirds</td>
			<td style="border: 1px solid #000;">Top third objects are empowered, bottom third is dis-empowered.</td>
		</tr>
	</thead>
</table>
<li><h4>Compare and Contrast</h4></li>
<ul style="list-style-type: square;">
	<li><u><b>HOW TO WRITE A COMPARE AND CONTRAST ANSWER? </b></u></li>
	<ol style="list-style-type: lower-alpha;">
		<li>Carefully consider both tests (make notes)</li>
		<li> List key similarities and differences</li>
		<li>Isolate most important points and turn them into central arguments (like major themes, messages, major characters, etc.)</li>
		<li>Write an outline to form the skeleton of your essay</li>
		<li> Fill in textual details to write essay (evidence)</li>
		<li>Edit </li>
		<li>Use PIE method (point, illustrate, explain)</li>
	</ol>
	<p><mark>NOTE: Use words like like, similar to, also, unlike, similarly, in the same way, likewise, again, compared to, in contrast, however, in like manner, on the contrary, although, yet, even though, still, but, nevertheless, conversely, at the same time, regardless, despite, while, on one hand, on the other hand </mark></p>
	<li><b>Your compare and contrast should: </b></li>
	<ul style="list-style-type: upper-roman;">
		<li>Include a good introduction and a thesis statement (main point)</li>
		<li>Include a conclusion with main points of statement</li>
		<li>Be organized well; points should flow</li>
	</ul>
	<br>
	<img src="{{url_for('static', filename='images/compare_and_contrast.jpg')}}" style="height: 350px; width: 900px; max-width: 100%">
	<img src="{{url_for('static', filename='images/notes.jpg')}}" style="height: 350px; width: 900px; max-width: 100%">
</ul>
<li><h4>Literary Devices</h4></li>
<table style="width: 100%; max-width: 100%" id="devices">
	<thead>
		<tr>
			<th style="border: 1px solid #000; width: 10%;">Device</th>
			<th style="border: 1px solid #000; width: 25%">Explaination</th>
			<th style="border: 1px solid #000; width: 25%">Example</th>
		</tr>
		<tr>
			<td style="border: 1px solid #000; width: 15%;">Allegory </td>
			<td style="border: 1px solid #000;">A symbolism device where the meaning of a greater (often abstract) concept is conveyed with the aid of a more corporeal object or idea used as an example. </td>
			<td style="border: 1px solid #000;">Faith is like a stony uphill climb: a single stumble might send you sprawling but belief and steadfastness will see you to the very top. (usually through metaphors). </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;width: 15%;">Alliteration </td>
			<td style="border: 1px solid #000;">Words are used in quick succession and begin with letters in the same sound group. A repetition of similar sounds in the sentence add character to writing and an element of 'fun' to the piece. </td>
			<td style="border: 1px solid #000;width: 15%;">The Wicked Witch of the West went her own way.  </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Allusion </td>
			<td style="border: 1px solid #000;">A figure of speech where the author refers to a subject matter by way of a passing reference. Reader must make the connection between the subject and reference.</td>
			<td style="border: 1px solid #000;">It's no wonder everyone refers to Mary as another Mother Theresa in the making; she loves to help and care after people everywhere - from the streets to her own friends.  </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Anagram </td>
			<td style="border: 1px solid #000;">Writer jumbles up parts of the word to create a new word; allows writer to infuse mystery and interactive fun in the writing. </td>
			<td style="border: 1px solid #000;">nstead of debit card, author writes bad credit.</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Analogy </td>
			<td style="border: 1px solid #000;">Establish a relationship based on similarities between two concepts or ideas, convey a new idea using an old one for basic understanding. </td>
			<td style="border: 1px solid #000;">In the same way as one cannot have the rainbow without the rain, one cannot achieve success and riches without hard work.  </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Anastrophe </td>
			<td style="border: 1px solid #000;">Writing noun before adjective; creates drama and gives sentence depth and emphasis.</td>
			<td style="border: 1px solid #000;">He spoke of times past and future, and dreamt of things to be.</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Anthromorphism </td>
			<td style="border: 1px solid #000;"> Giving human qualities and emotions and ambitions to non-human objects or beings</td>
			<td style="border: 1px solid #000;">The raging storm brought with it howling winds and fierce lightning as the residents of the village looked up at the angry sky in alarm </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Archetype </td>
			<td style="border: 1px solid #000;">A person or object used as a prototype to represent a famous concept or meaning</td>
			<td style="border: 1px solid #000;">Romeo and Juliet are an archetype of eternal love and a star-crossed love story. </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Assonance </td>
			<td style="border: 1px solid #000;"> Repetition of vowel sounds, opposite of assonance. </td>
			<td style="border: 1px solid #000;">A long song (the 'o' sound) </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Bidungsroman  </td>
			<td style="border: 1px solid #000;"> A form of storytelling, where the story is based on the personal growth of the protagonist. </td>
			<td style="border: 1px solid #000;">Pip from Great Expectations. His ideas, hopes, dreams, and social status; how his behavior changed. </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Cacophony  </td>
			<td style="border: 1px solid #000;"> The use of words or phrases that imply strong, harsh sounds. </td>
			<td style="border: 1px solid #000;">His fingers rapped and pounded the doors, and his foot thumped against the yellowing wood. </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Characterization  </td>
			<td style="border: 1px solid #000;"> RAuthor introduces and step-by-step describes a character (directly/indirectly) </td>
			<td style="border: 1px solid #000;">Micheal Corelone was not jus' a mafiaso, but a family man. A man who walked the knife's edge to preserve his sanity. </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Conflict  </td>
			<td style="border: 1px solid #000;"> Repetition of vowel sounds, opposite of assonance.Expressing a resistance to the protagonist in achieving his/her aims or dreams (could be external, internal or different factors). </td>
			<td style="border: 1px solid #000;">John tried to convince himself that his Hollywood dreams were worth the struggle but his parents, and his inner voice of reason, failed to agree</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Connotation  </td>
			<td style="border: 1px solid #000;"> Associations people make with words that go beyond the literal definition. These words create emotions or feelings in the reader.  </td>
			<td style="border: 1px solid #000;">And once again, the autumn leaves were falling. The use of autumn signifies that something is coming to an end; change of season.   </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Consonance  </td>
			<td style="border: 1px solid #000;"> Repetition of sounds produced by consonants in a sentence. </td>
			<td style="border: 1px solid #000;">He stuck a streak of bad luck.  </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Diction  </td>
			<td style="border: 1px solid #000;"> An author's choice of words, mood, attitude, dialect and style of writing. </td>
			<td style="border: 1px solid #000;">The use of 'thy', 'thee' and 'wherefore' by authors in modern work to imbue a Shakespearean mood to their work. </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Euphemism   </td>
			<td style="border: 1px solid #000;"> Using comparatively milder terms to describe embarrassing subjects.</td>
			<td style="border: 1px solid #000;">doing it' for sex, 'passed away' for died, 'downsizing' for mass firing, 'tipsy' for drunk. </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Flashback   </td>
			<td style="border: 1px solid #000;"> Author depicts the occurrence of past events to the reader. </td>
			<td style="border: 1px solid #000;">Back in the day when Sara was a young girl...</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Foreshadowing </td>
			<td style="border: 1px solid #000;"> Use of indicative words or phrases to set the stage for what is about to happen without ruining the plot. </td>
			<td style="border: 1px solid #000;">THe had no idea of the disastrous chain of events to follow.  </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Hyperbaton   </td>
			<td style="border: 1px solid #000;"> Using a different sentence structure to add depth and interest to sentence structure </td>
			<td style="border: 1px solid #000;">lone he walked on the cold, lonely roads. </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Hyperbole   </td>
			<td style="border: 1px solid #000;"> Words used to exaggerate and overemphasize the basic crux of the statement.  </td>
			<td style="border: 1px solid #000;">I am so tired I cannot walk another inch / I'm so hungry I could eat a horse. </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Imagery   </td>
			<td style="border: 1px solid #000;"> Words and phrases used to create 'mental images' for the reader (all five senses evoked).   </td>
			<td style="border: 1px solid #000;">The gushing brook stole its way down the lush green mountains, dotted with tony flowers in a riot of colors and trees coming alive with gaily chirping birds. </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Irony   </td>
			<td style="border: 1px solid #000;"> Meaning implied by a sentence is actually different from the literal meaning.  </td>
			<td style="border: 1px solid #000;">Oh! What fine luck I have! (When someone is having bad luck - kind of like sarcasm)</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Metaphor   </td>
			<td style="border: 1px solid #000;">One subject in comparison to another to show the similar traits.  </td>
			<td style="border: 1px solid #000;">Henry was a lion on the battle field. </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Onomatopoeia   </td>
			<td style="border: 1px solid #000;"> Sound words that are pronounced the way the sounds actually sound like.      </td>
			<td style="border: 1px solid #000;">Grunt, huff, buzz, snap.  </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Personification   </td>
			<td style="border: 1px solid #000;"> Attaching human traits to inanimate objects, phenomena and animals. </td>
			<td style="border: 1px solid #000;">The raging winds, the wise owl, the warm and comforting fire.  </td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;">Symbolism   </td>
			<td style="border: 1px solid #000;">  Several layers of meaning, often concealed at first, representative of several other aspects. </td>
			<td style="border: 1px solid #000;">'A new dawn' symbolizes a new beginning or start.</td>
		</tr>
	</thead>
</table>
<br>
<li><h4>Formal Letter Format</h4></li>
<img src="{{url_for('static', filename='images/sample_letter_format.png')}}" style="max-width: 100%; height: 500px; width: 600px">
<p><u>SALUTATIONS</u></p>
<ul>
	<li>Dear Sir or Madam </li>
	<li>Dear (Mr/Mrs/Miss/Ms/Dr) [insert name]</li>
</ul>
<p><u>CLOSING</u></p>
<ul>
	<li>Yours faithfully</li>
	<li>Yours sincerely </li>
	<li>Best regards</li>
	<li>Regards</li>
	<li>Respectfully yours </li>
</ul>
​<br>
<li><h4>Writing Creative Speeches</h4></li>
<ul>
	<li>Try to keep rhythm by using such words or phrases. E.g: The vision of our organization is to ensure our people have the passion to deliver our mission and consolidate our corporate position in this nation.</li>
	<li>Use quotes and then describe in your own words. </li>
	<li>Use stories as examples</li>
	<li>Use facts and emotions</li>
	<li>Personal moments </li>
	<li>Condense the theme of the speech into a 15-20 word epigram</li>
	<li>Imagery to prove point, build on</li>
	<li>Have a good opening </li>
	<li>Note the audience, and write accordingly </li>
	<li>Repetition is key</li> 
	<li>Use transitions. Ask rhetorical questions, keep a conversation going between the audience (to keep them engaged).</li>
	<li>Keep it short.  </li>
</ul>
<br>
<li><h4>Blog Post Format</h4></li>
<img src="{{url_for('static', filename='images/blog_formt.jpg')}}" style="height: 300px; width: 1000px">
<br>
<li><h4>Writing a Review</h4></li>
<img src="{{url_for('static', filename='images/review_format.jpg')}}" style="height: 300px; width: 1000px">
​<br>
<li><h4>Writing an Article</h4></li>
<img src="{{url_for('static', filename='images/article_format.jpg')}}" style="height: 150px; width: 1000px">
<br>
<li><h4>Writing a Diary Entry</h4></li>
<ol style="list-style-type: upper-roman;">
	<li>Date your entries </li>
	<li>Pick a topic to focus on </li>
	<li>Write naturally</li>
	<li>Be truthful and friendly </li>
	<li>Use past tense </li>
	<li>Talk about emotions! </li>
	<li>Sign in and sign off </li>
	<ul>
	<li>Sign in: Dear Dearest, Dear Diary etc.</li> ​
	<li>Sign off: Yours truly, until next time, Love etc</li>
</ul>
</ol>
<h4>EXAMPLE</h4>
<img src="{{url_for('static', filename='images/diary_eg.jpg')}}">
<br>
<br>
<strong><mark><p style="text-align: center;"><i>All the above information has been borrowed from Onymousib, and it has been done in the sheer aim of helping others & no personal benefit (if you have a complaint against the use of this information please contact us from the <a href="/#four">"CONTACT US" form</a> in the homepage)</i></p></mark></strong>
<br>
<h3 id="downloads" style='text-align: center;'>DOWNLOADABLE FILES</h3>
<ul>
	<li><a id="download" href="{{url_for('static', filename='subject_assets/downloads/revision/G10 English.pdf')}}" download = "english_revision_booklet.pdf"><img id="icon" height="30px" width="25px" src="{{url_for('static', filename='images/pdf_logo.png')}}">Revision Packet English</a></li>
</ul>

	</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; MYP1080
				</div>
			</footer>

{% endblock %}